body::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1f1f1f;
    /*background: url(../img/grid.png) repeat-x;*/
    will-change: transform;
    z-index: -1;
}

h1 {
    color: #929292;
  }

  h2, h3, h4, h5, h6 {
    color: #757575;
    font-weight: 300;
}


pre, .rst-content tt {
    max-width: 100%;
    background: #757575;
    border: dashed 1px #505050;
    color: #333;
    overflow-x: auto;
}

code {
    padding: 2px 5px;
    background: #333;
    border: dashed 1px #505050;
    color: #e1e4e5;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 12px;
}

pre code {
    display: block;
    background: transparent;
    border: none;
    white-space: pre;
    word-wrap: normal;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
}
